<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Book Reservation - Confirmation</title>
</head>

<body>
<h1>Reservation Successful</h1>

<table border="1" cellpadding="10">
  <tr>
    <th>Field</th>
    <th>Value</th>
  </tr>

  <tr>
    <td>Reader Name</td>
    <td th:text="${readerName}"></td>
  </tr>

  <tr>
    <td>Reader Address</td>
    <td th:text="${readerAddress}"></td>
  </tr>

  <tr>
    <td>Book Title</td>
    <td th:text="${bookTitle}"></td>
  </tr>

  <tr>
    <td>Number of Copies</td>
    <td th:text="${numCopies}"></td>
  </tr>
</table>

<br>
<a href="/books">
  <button>Back to books</button>
</a>

</body>
</html>
