<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Reservations</title>
</head>

<body>

<h1 th:text="'Reservations for: ' + ${bookTitle}"></h1>

<ul>
    <li th:each="r : ${bookReservationList}">
        <span th:text="'Reader: ' + ${r.readerName}"></span>
        <span th:text="' | Copies: ' + ${r.numCopies}"></span>
        <span th:text="' | Address: ' + ${r.readerAddress}"></span>
    </li>
</ul>

<br>
<a href="/books">
    <button>Back to Books</button>
</a>

</body>
</html>
